


entry
{
    background:         #363945;
    color:              white;
    font-size:          15px;
}



button
{
    background:         #FFFFFF;
    border-color:       black;
    box-shadow:         none;
    margin:             10px;
}

button:hover
{
    background:         gray;
}


